<!DOCTYPE html>
<html lang="en">

<head>
    <title>Some website</title>
    <meta charset="UTF-8">
</head>

<body>
    {{> header}}
    <h2>{{screamIt welcomeMessage}}</h2>
    <p>Some text here man</p>

    {{> footer}}
</body>

</html>